
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Rubik:wght@300;700&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
}
.card-custom {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-custom {
  height: 300px; /* Establece un tamaño fijo para el carrusel */
  overflow: hidden;
}

.carousel-custom .carousel-item {
  height: 100%;

}

.carousel-custom .carousel-item img {
  max-height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.carousel-custom .carousel-item {
  height: 100%;
}
/* Sidebar */
.sidebar {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.sidebar-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin-bottom: 0.5rem;
}

.sidebar-nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: #212529;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.sidebar-nav a:hover {
  background-color: #e9ecef;
    color: #212529;
}

/* Estilos de los iconos de redes sociales */
.social-media a {
  display: inline-block;
  margin-right: 10px;
  color: white;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

/* Estilos de los iconos de redes sociales en hover */
.social-media a:hover {
  color: gray;
}

/* Estilos de los iconos de redes sociales de Facebook, Twitter y LinkedIn */
.fa-facebook-f {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-linkedin-in {
  color: #0077b5;
}


/*para el footer*/

.col-md-4 {
  background-color: #f8f9fa; /* Cambiar el color de fondo */
  padding: 20px;
}

h5 {
  color: #007bff; /* Cambiar el color del título */
  font-size: 1.2rem;
  font-weight: bold;
}

.link {
  color: #343a40; /* Cambiar el color de los enlaces */
  font-size: 1.1rem;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  color: #007bff; /* Cambiar el color al pasar el cursor sobre los enlaces */
}

.link i {
  margin-right: 10px;
  font-size: 1.2rem;
}

.list-unstyled {
  padding-left: 0;
  list-style: none; /* Quitar las viñetas de la lista */
}

.list-unstyled li:first-child .link {
  margin-top: 0; /* Quitar el margen superior del primer enlace */
}

.list-unstyled li:last-child .link {
  margin-bottom: 0; /* Quitar el margen inferior del último enlace */
}
/* Personalización del formulario */
form.custom-form {
    border: 2px solid #007bff;
    border-radius: 8px;
    background-color: #f8f9fa;
    padding: 20px;
}

form.custom-form .form-label {
    font-weight: bold;
    font-size: 1.1em;
}

form.custom-form .form-check-label {
    font-size: 1.1em;
}

form.custom-form button[type="submit"] {
    background-color: #007bff;
    border-color: #007bff;
    font-weight: bold;
    font-size: 1.2em;
}


/* para los botones de los formularios*/

/* Cambia el color de la barra de búsqueda y el botón */
.custom-style {
    background-color: #d5291b;
    color: white; /* Cambia el color del texto a blanco para mayor contraste */
}

/* Añade una sombra cuando pasas el ratón por encima */
.custom-style:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/*esto  es para los h2 de home*/

.titulo-centrado {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin: 20px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


/*para el boton ver mas de comprar*/

.btn-toggle-description {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.btn-toggle-description:focus,
.btn-toggle-description:hover {
  text-decoration: none;
  outline: none;
}

.btn-toggle-description.collapsed::after {
  content: 'Ver más';
}

.btn-toggle-description.expanded::after {
  content: 'Ver menos';
}

.description-full {
  display: none;
}
