{% load static %}
<footer class="bg-light  mt-12 border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5>Sobre nosotros</h5>
                <p  class=" text-justify lead" >
Inmobiliaria Maturano es una empresa dedicada a la intermediación y gestión de todo tipo de operaciones inmobiliarias en la zona. Con una amplia experiencia en el mercado, nuestro objetivo es ofrecer un servicio personalizado y de calidad a cada uno de nuestros clientes, acompañándolos en todo momento durante el proceso de compra, venta o alquiler de una propiedad. Nuestra visión se basa en la ética, la profesionalidad y la transparencia, valores que nos han permitido consolidarnos en el sector y ganar la confianza de nuestros clientes. En Inmobiliaria Maturano estamos comprometidos en satisfacer las necesidades de nuestros clientes y encontrar la mejor solución para cada caso en particular.</p>
            </div>
        </div>
        <div>
</footer>
