{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{{ logo_url }}" alt="Logo" height="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'properties' %}">Comprar</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'venta' %}">Vender</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'subastas' %}">Subastas</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'tasacion' %}">Tasaciones</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>